* {
    background-color: rgb(300, 300, 300);
  }
  
body{
    font-family: sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.logo{
    background: transparent;
}

h1{
    font-size: 50px;
    margin-bottom: 2px;
}

h3{
    margin-top: 0;
}

h2{
    margin-bottom: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.horizontal-line{
    height: 3px;
    background-color: grey;
}

.main-img{
    padding: 20px;
    display: inline-block;
}

.img-1{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.text{
    display:flex;
    justify-content: center;
    font-size: 30px;
}

.parent{
    display: flex;
    justify-content: center;
}

.child{
    width: 30%;
    text-align: center;
    margin-top: 15px;
}

.child img{
    width: 300px;
    height: 225px;
}